.gortys-top-text h3
{
  font-size: 20px;
  font-style: italic;
  color: #333333;
  padding:auto;
}

.gortys-top-text h3 span
{
  font-size: 14px;
  font-style: italic;
  color: #333333;
  padding: auto;
}

.navbar-header
{
  padding-right: 20px;

}
.navbar-header ul li
{
  padding-left: 200px;
}

.modal-header
{
  background-color: #061930;
}

.modal-header h3
{
  font-size: 20px;
  font-style: italic;
  color: #ffffff;
}
